.section_2{
    width: 100%;
    height: 73vh;
    
}
.video_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}
.volume{
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    cursor: pointer;
}
.volume i{
    font-size: 3.5rem;
    color: white;
}
.volume i:nth-child(2){
    display: none;

}